.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown ul {
  display: none; /* comment for debug*/
  flex-direction: column;
  margin: 0;
  position: absolute;
  top: 0;
  transition: all 0.5s ease;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 5px;
  z-index: 1;
}

.dropdown-right ul {
  left: 100%;
}
.dropdown-left ul {
  right: 100%;
}

#info-menu.dropdown li {
  padding: 10px;
}

.dropdown:hover ul {
  display: flex;
  opacity: 1;
  transform: translateY(0);

  /* height: 200px;
  opacity: 1;*/
}

/* .dropdown ul {
  color: #000;
  display: block;
  padding: 5px 20px;
} */

.dropdown li {
  border-radius: 10px;
  display: block;
  margin: 5px;
  text-align: center;
  text-decoration: none;
}
