#mode-selector {
  display: flex;
  gap: 3px;
}

#mode-selector ul img {
  width: 70px;
}

#mode-selector input[type="radio"] {
  display: none;
  visibility: hidden;
}

img.icon-level.junior {
  background: #55d7e877;
}

img.icon-level.senior {
  background: #f18e1e77;
}

img.icon-level {
  border: 3px solid transparent;
  border-radius: 5px;
}

input:checked ~ img.icon-level {
  border: 3px solid blue;
  border-radius: 5px;
}
