.explode-button {
  text-align: center;
  user-select: none;
  background: rgb(238, 164, 164);
  /* width: 20px;
  height: 20px; */
  padding: 5px;
}
.unexplode-button {
  text-align: center;
  user-select: none;
  background: rgb(174, 174, 237);
  /* width: 20px;
  height: 20px; */
  padding: 5px;
}
.coin-value {
  text-align: center;
  user-select: none;
  /* background: rgb(244, 233, 40); */
  height: 60px;
  width: 60px;
}

.add-button {
  text-align: center;
  user-select: none;
  background: rgb(238, 164, 164);
  /* width: 20px;
  height: 20px; */
  padding: 5px;
}

.substract-button {
  text-align: center;
  user-select: none;
  background: rgb(174, 174, 237);
  /* width: 20px;
  height: 20px; */
  padding: 5px;
}
