.explode-button {
  text-align: center;
  user-select: none;
  /* background: rgb(238, 164, 164); */
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  &.disabled {
    pointer-events: none;
    filter: blur(2px);
  }
}

.unexplode-button {
  text-align: center;
  user-select: none;
  /* background: rgb(174, 174, 237); */
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  &.disabled {
    pointer-events: none;
    filter: blur(2px);
  }
}
.coin-value {
  text-align: center;
  user-select: none;
  /* background: rgb(244, 233, 40); */
  max-height: 60px;
  max-width: 60px;
}

.add-button {
  text-align: center;
  user-select: none;
  /* background: rgb(238, 164, 164); */
  max-width: 30px;
  max-height: 30px;
  padding: 5px;
  cursor: pointer;
  &.disabled {
    pointer-events: none;
    filter: blur(2px);
  }
}

.substract-button {
  text-align: center;
  user-select: none;
  /* background: rgb(174, 174, 237); */
  max-width: 30px;
  max-height: 30px;
  padding: 5px;
  cursor: pointer;
  &.disabled {
    pointer-events: none;
    filter: blur(2px);
  }
}
